export AWS_ACCESS_KEY_ID={{ aws_access_key }}
export AWS_SECRET_ACCESS_KEY={{ aws_secret_key }}
export GOOGLE_ANALYTICS={{ google_analytics }}
export RAILS_DATABASE_HOST=rds.reversal.local
export RAILS_DATABASE_PASSWORD={{ db_pass}}
export RAILS_DATABASE_USER=reversal
export ROLLBAR_ACCESS_TOKEN={{ rollbar_access_token }}
export S3_BUCKET_NAME=reversal
export S3_HOST_NAME=reversal.s3-website-ap-northeast-1.amazonaws.com
export S3_REGION=ap-northeast-1
export SECRET_KEY_BASE={{ secret_key_base  }}
export SLACK_API_TOKEN={{ slack_api_token }}
export SLACK_CLIENT_ID={{ slack_client_id }}
export SLACK_CLIENT_SECRET={{ slack_client_secret }}
export SLACK_TEAM_ID={{ slack_team_id }}
export SLACK_TEAM_NAME=ftg-reversal
export TWITTER_ADS_ACCESS_SECRET={{ twitter_ads_access_secret }}
export TWITTER_ADS_ACCESS_TOKEN={{ twitter_ads_access_token }}
export TWITTER_ADS_CONSUMER_KEY={{ twitter_ads_consumer_key }}
export TWITTER_ADS_CONSUMER_SECRET={{ twitter_ads_consumer_secret }}
export TWITTER_CONSUMER_KEY={{ twitter_consumer_key }}
export TWITTER_CONSUMER_SECRET={{ twitter_consumer_secret }}
export TWITTER_ONLINE_BOT_ACCESS_SECRET={{ twitter_online_bot_access_secret }}
export TWITTER_ONLINE_BOT_ACCESS_TOKEN={{ twitter_online_bot_access_token }}
export TWITTER_ONLINE_BOT_CONSUMER_KEY={{ twitter_online_bot_consumer_key }}
export TWITTER_ONLINE_BOT_CONSUMER_SECRET={{ twitter_online_bot_consumer_secret }}
export YOUTUBE_API_KEY={{ youtube_api_key }}
